.blockTerm{
    padding: 10px;
    background-color: #7272D8;
    color: #fff;
    font-size: 13px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.containerTerm{
    display: grid;
    gap: 10px;
}

.containerTermFlex{
    display: flex;
    gap: 10px;
    align-items: center;
}

.blockTerm.Expectation{
    background-color: #7272D8;
}
.blockTerm.Late{
    background-color: #E8533F;
}
.blockTerm.Success{
    background-color: #71DE5F;
}