.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.blockAvatar{
    text-align: left;
    display: grid;
    gap: 5px;
    text-decoration: inherit;

}
.mainText{
    margin-bottom: 5px;
}
.null{
    color: #E8533F;
}

.borderActive{
    width: 5px;
    height: 50px;
    background-color: #7272d8;
    border-radius: 3px;
}

.containerAvatar{
    display:"flex" !important;
    align-items:"center" !important;
    gap:"10px" !important;
}