.sectionResPas {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 0;
  &Img {
    margin-right: auto;
  }
  &Title {
    font-weight: bold;
    margin-top: 25px;
    font-size: 24px;
  }
  &Subtitle {
    margin-top: 20px;
    color: #4a4a4e;
    font-size: 16px;
  }
  &Input{
    margin-top: 50px;
  }
  &Btn{
    margin-top: 20px !important;
    width: 100%;
  }
  &NotExistUser{
    display: flex;
    margin-top: 30px; 
    font-weight: bold;
    & a {
      margin-left: 10px;
    }
  }
}

.notification{
  margin: 10px 0 -10px;
}