.topIcon {
  background-color: #e8533f !important;
  border-radius: 10px !important;
  width: 65px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.sectionDeleteContest {
  &Title {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
  }
  &Subtitle {
    font-size: 20px;
    margin-top: 20px;
  }
  &List {
    list-style: none;
    border-left: 2px solid #000;
    margin: 15px 0;
    & li {
      margin-top: 5px;
      font-size: 16px;
      padding-left: 10px;
    }
  }
  &FlexBtn {
    display: flex;
    justify-content: flex-end;
    & button:nth-child(1) {
      background-color: #e8533f !important;
    }
    & button + button {
      margin-left: 10px;
    }
  }
}

