.sectionResetPas {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px 0;

  &Title {
    margin-top: 35px;
    font-weight: bold;
    font-size: 20px;
  }

  &Profile {
    display: flex;
    margin-top: 35px;
    &Info {
      margin-left: 15px;
      font-weight: bold;
    }
    &Name {
      font-size: 18px;
    }
    &Company {
      font-size: 15px;
    }
  }

  &Input {
    margin-top: 20px;
  }

  &Btn{
    width: 100%;
    margin-top: 35px !important;
  }
}
