@import '../../Components/styles/vars/vars';
.section{
  &HomePage{
    padding: 0 0 40px;
    &Title{
      @extend %title;
    }
    &SearchInput{
      margin-top: 20px;
    }
    &Inner{
      padding-top: 20px;
      border-top: 2px solid #D9D9D9;
      margin-top: 50px;
      display: flex;
      gap: 10px;
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }
}